body{
    font-family: Arial, sans-serif;
    background-color: #e4c3c3;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #333;
    font-size: large;
}
p {
    color: #555;
    font-size: medium;
}   